<html xmlns:th="http://www.thymeleaf.org" th:fragment="common_header(title,links)">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title th:text="#{title}"></title>
    <link th:href="#{bootstrap.css.cdn}" rel="stylesheet">
    <link th:href="#{fontawsome.css.cdn}" rel="stylesheet">
    <link th:href="@{/statics/plugins/layui/css/layui.css?v=2.5.4}" rel="stylesheet" type="text/css" />

    <script th:src="#{jquery.js.cdn}"></script>
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
</html>