<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_js(scripts)">
    <script th:src="#{jquery.slimscroll.js.cdn}"></script>
    <script th:src="#{metismenu.js.cdn}"></script>
    <script th:src="@{/statics/plugins/jquery.i18n.properties-1.0.9.js}" type="text/javascript"></script>
    <script th:src="#{pace.js.cdn}"></script>
    <script th:src="#{bootstrap.js.cdn}"></script>
    <script th:src="@{/statics/plugins/layui/layui.js?v=2.5.4}" type="text/javascript"></script>

    <!--/* Per-page placeholder for additional js */-->
    <th:block th:replace="${scripts}" />
</div>
</html>