<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="Common/Css :: common_header(~{::title},~{::link})">

    <title th:text="${roomId} + #{room.chattingRoom}"></title>
    <!-- 自定义CSS -->
    <link th:href="@{/statics/css/common.css?v=}+#{statics.vs}" rel="stylesheet">
    <link th:href="@{/statics/css/room/Room.css?v=}+#{statics.vs}" rel="stylesheet">
    <link th:href="@{/statics/css/room/Normal.css?v=}+#{statics.vs}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="content">
            
        </div>
    </div>
    <div id="input-box" class="wrapper">
        <input type="text" class="layui-input" maxlength="140" id="msg">
        <button class="layui-btn" th:text="#{common.send}" onclick="send()">发送</button>
    </div>

    <!-- 底部开始 -->
    <!-- <div th:replace="Menu/Footer :: footer"></div> -->
    <!-- 底部结束 -->
    <input type="hidden" id="name" th:value="${name}">
    <input type="hidden" id="roomId" th:value="${roomId}">

    <div th:replace="Common/js::common_js(~{::script})">
        <!-- 自定义JS -->
        <script th:src="@{/statics/js/room/Normal.js?v=}+#{statics.vs}" type="text/javascript"></script>
    </div>
</body>
</html>